@using CloseFriendMyanamr.ViewModel
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Close Friend Myanmar</title>
    @* <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" /> *@
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <link rel="icon" href="@Url.Content("~/icon.ico")" type="image/x-icon" />

    <!-- Icon Libraries -->
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> *@
    <!-- Optional: Remove Font Awesome if not used -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Styles -->
    <link href="~/css/admin_site.css" rel="stylesheet">

    <!-- jQuery and DataTables JS -->
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    @* <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> *@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.10.5/jquery.dataTables.min.js"></script>

    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    <!-- Lightbox JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

</head>

<body id="page-top">
    @if (User.Identity.IsAuthenticated)
    {
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gray-600 sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                @*    <a class="sidebar-brand d-flex align-items-center justify-content-center p-0" style="background-color:black;" href="@Url.Action("Index", "Home")">
                <div class="sidebar-brand-icon"> *@
                <img class="logo_img" src="@Url.Content("~/images/Logo2.jpg")" onclick="window.location.href='@Url.Action("Index", "Home")'" style="cursor:pointer;">
                @*    </div>
            </a> *@
                <div class="sidebar-brand-text logo_text text-center mb-3"><span style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Close Friend Myanamar</span></div>


                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>


                <!-- Nav Item - Advantage search -->
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Property" asp-action="SearchProperty">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Advance Search</span>
                    </a>
                </li>


                <!-- Nav Item - To do list -->
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Property" asp-action="AlertCenter">
                        <i class="fa-solid fa-phone menu-icon"></i>
                        <span>To Do List (Alert Center)</span>
                    </a>
                </li>



                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Operation Section
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                       aria-expanded="true" aria-controls="collapsePages">
                        <i class="fa-solid fa-house-chimney"></i>
                        <span>Property</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Property:</h6>
                            <a class="collapse-item" asp-controller="Property" asp-action="NewProperty">Add New Property</a>
                            <a class="collapse-item" asp-controller="Property" asp-action="SearchProperty">Property Search</a>
                                <a class="collapse-item" asp-controller="Property" asp-action="PropertyList">Recent Update Data</a>
                                    <a class="collapse-item" asp-controller="Property" asp-action="DeletedPropertyList">Deleted Property</a>
                            @*     <a class="collapse-item" asp-controller="Property" asp-action="Gallery">Gallery</a>
                        <a class="collapse-item" asp-controller="Property" asp-action="PropertyInfo">PropertyInfo</a> *@
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#clentRequestPages"
                       aria-expanded="true" aria-controls="clentRequestPages">
                        <i class="fa-solid fa-magnifying-glass-dollar"></i>
                        <span>Client Request</span>
                    </a>
                    <div id="clentRequestPages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Client Request:</h6>
                            <a class="collapse-item" asp-controller="ClientRequest" asp-action="ClicentRequestList">Client Request List</a>
                            <a class="collapse-item" asp-controller="UserManagement" asp-action="ClientCreate">Client Request Entry</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Management section
                </div>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#userManagementUtilities"
                       aria-expanded="true" aria-controls="userManagementUtilities">
                        <i class="fa-solid fa-user"></i>
                        <span>User Management</span>
                    </a>
                    <div id="userManagementUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">User Management:</h6>
                            <a class="collapse-item" asp-controller="UserManagement" asp-action="ClientList">Client</a>
                            <a class="collapse-item" asp-controller="UserManagement" asp-action="OwnerList">Owner</a>
                            <a class="collapse-item" asp-controller="UserManagement" asp-action="AgentList">Agent</a>
                            <a class="collapse-item" asp-controller="UserManagement" asp-action="WebSiteVisitors">Website Visitor</a>
                        </div>
                    </div>
                </li>


                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Account section
                </div>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <span>Cash Management</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Cash Management:</h6>
                            <a class="collapse-item" asp-controller="CashManagement" asp-action="CompanyIncome">Company Income</a>
                            <a class="collapse-item" asp-controller="CashManagement" asp-action="IncomeList">Income List</a>
                            <a class="collapse-item" asp-controller="CashManagement" asp-action="CompanyExpense">Comapny Expense</a>
                            <a class="collapse-item" asp-controller="CashManagement" asp-action="ExpenseList">Expense List</a>
                            <a class="collapse-item" asp-controller="CashManagement" asp-action="AccountTransfer">Account Transfer</a>
                            <a class="collapse-item" asp-controller="CashManagement" asp-action="CashBookList">Cash Book</a>
                        </div>
                    </div>
                </li>


                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    configuration section
                </div>

                <!-- Nav Item - configuration Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-cog menu-icon"></i>
                        <span>Configuration</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Configuration:</h6>
                            <a class="collapse-item" asp-controller="CompanyInfo" asp-action="Index">Company Info</a>
                            <a class="collapse-item" asp-controller="Appointment" asp-action="Index">Appointment</a>
                            <a class="collapse-item" asp-controller="Home" asp-action="ShowCodeNumberDetail">Code Information</a>
                            <a class="collapse-item" asp-controller="Employee" asp-action="EmployeeTypeList">Employee Type</a>
                            <a class="collapse-item" asp-controller="Employee" asp-action="Index">Empoyee</a>
                            <a class="collapse-item" asp-controller="IncomeTitle" asp-action="Index">Income Title</a>
                            <a class="collapse-item" asp-controller="IncomeTitle" asp-action="ExpenseList">Expense Title</a>
                            <a class="collapse-item" asp-controller="IncomeTitle" asp-action="FacilityList">Facilities</a>
                            <a class="collapse-item" asp-controller="IncomeTitle" asp-action="PropertyTypeList">Property Type</a>
                            <a class="collapse-item" asp-controller="IncomeTitle" asp-action="BuildingTypeList">Building Type</a>
                            <a class="collapse-item" asp-controller="IncomeTitle" asp-action="BankAccountInfoList">Bank Accounts</a>
                            <a class="collapse-item" asp-controller="IncomeTitle" asp-action="LogList">Logs</a>
                        </div>
                    </div>
                </li>



                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" asp-controller="Property" asp-action="PropertySearchByCode">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." required
                                       aria-label="Search" aria-describedby="basic-addon2" id="code" name="code">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search" method="post" asp-controller="Property" asp-action="PropertySearchByCode">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" required
                                                   placeholder="Search for..." aria-label="Search" id="code" name="code"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="submit">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <!-- Nav Item - Alerts -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    @if(ViewBag.NotiCount != null) {
                                        <span class="badge badge-danger badge-counter">@ViewBag.NotiCount</span>
                                    }else{
                                        <span class="badge badge-danger badge-counter"></span>
                                    }
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>

                                    @if (ViewBag.Notifications != null)
                                    {
                                        @foreach (var notification in ViewBag.Notifications as List<AlertViewModel>)
                                        {
                                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("PropertyInfo", "Property", new { propertyId = notification.PropertyId})">
                                                <div class="mr-3">
                                                    <div class="icon-circle bg-secondary">
                                                        <i class="fas fa-info-circle text-white"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="small text-gray-500">@(notification.AvailableDate != null? notification.AvailableDate.Value.ToString("MMM dd, yyyy") : "") [@notification.Code]</div>
                                                    <span class="font-weight-bold">@notification.Message</span>
                                                </div>
                                            </a>
                                        }
                                    }

                                    <a class="dropdown-item text-center small text-gray-500" href="@Url.Action("AlertCenter", "Property")">Show All Alerts</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                    <i class="fa-solid fa-circle-user" style="font-size:25px;"></i>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        @RenderBody()

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Close Friend Myanmar Co., Ltd. </span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
    }
    else
    {
        @RenderBody()
    }
    <!-- scroll to top button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.10.5/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/js/test.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>