@model CloseFriendMyanamr.Models.Property.PropertyModel

@{
}


<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("SearchProperty", "Property")">Search Property</a> <span class="divider">&nbsp; &nbsp; | &nbsp; &nbsp;</span></li>
                    <li><a href="@Url.Action("NewProperty", "Property")">New Property</a> <span class="divider">&nbsp; &nbsp; | &nbsp; &nbsp;</span></li>
                    <li class="active"><span id="lblCode">@Model.Code &nbsp; &nbsp; (@Model.Township)</span></li>&nbsp; &nbsp; 
                    @if (!string.IsNullOrEmpty(Model.Map))
                    {
                        @Model.Map
       <span>| &nbsp; &nbsp;
           <a href="@Model.Map" target="_blank">
               <img alt="File:Google Maps icon (2015-2020).svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/39/Google_Maps_icon_%282015-2020%29.svg/512px-Google_Maps_icon_%282015-2020%29.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/39/Google_Maps_icon_%282015-2020%29.svg/768px-Google_Maps_icon_%282015-2020%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/39/Google_Maps_icon_%282015-2020%29.svg/1024px-Google_Maps_icon_%282015-2020%29.svg.png 2x" data-file-width="20" data-file-height="20">
           </a>
       </span>
                    }

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3">

                @if(Model.Photos != null && Model.Photos.Count >0) {
                    <div class="row">
                        <div class="col-12">
                            @if(Model.Photos != null && Model.Photos.Count >0) {
                                <a href="@Url.Content("~/PropertyPhoto/" + Model.Photos[0].Location)" data-lightbox="gallery" data-title="@Model.Photos[0].Location">
                                    <img src="@Url.Content("~/PropertyPhoto/" + Model.Photos[0].Location)" alt="" class="img-thumbnail w-100" loading="lazy">
                                </a>
                            }
                        </div>
                    </div>


                    @if(Model.Photos != null && Model.Photos.Count > 1){
                        @for (var i = 1; i < Model.Photos.Count; i++) {
                            <a href="@Url.Content("~/PropertyPhoto/" + Model.Photos[i].Location)" data-lightbox="gallery" data-title="@Model.Photos[i].Location">
                                <img src="@Url.Content("~/PropertyPhoto/" + Model.Photos[i].Location)" alt="" class="img-thumbnail" style="width:29%" loading="lazy">
                            </a>
                        }
                    }
                }else{

                    <a href="@Url.Content("~/images/NoPropertyPhoto.png")" data-lightbox="gallery" data-title="No Photo">
                        <img src="@Url.Content("~/images/NoPropertyPhoto.png")" alt="" class="img-thumbnail w-100" loading="lazy">
                    </a>
                }
                <hr class="border-soft-bottom">
                <div class="row">
                    <div class="text-center">
                        <a href="@Url.Action("Gallery", "Property", new { propertyId = @Model.Id })" class="btn btn-primary text-center">Gallery</a>
                        <a href="@Url.Action("NewProperty", "Property", new { id = @Model.Id })" class="btn btn-secondary text-center">Edit Info</a>
                    </div>
                </div>
                <hr class="border-soft-bottom">

                <div class="row">
                    <div class="col-12">
                        <h5>Facilities</h5>

                        @if(Model.PropertyFacilities != null) {
                            <ul>
                                @* @foreach(var item in Model.Facilities.Split(",") as string[]){ *@
                                    @foreach(var item in Model.PropertyFacilities){
                                    <li>@item.Facility</li>
                                }
                            </ul>

                        }
                    </div>
                </div>

            </div>

            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-12 mb-3">
                        @if(Model.Owner != null) {
                            <h3>@Model.Owner.OwnerName (@Model.Owner.OwnerPhone)</h3>
                        }
                    </div>

                    <div class="col-12 mb-3">
                        <span>@Model.Street</span>
                    </div>
                    @if(Model.CondoName != null){
                        <div class="col-12">
                            <span>@Model.CondoName</span>
                        </div>
                    }
                
                    <div class="col-12">
                    <hr class="border-soft-bottom ">
                        <span>@Model.Purpose Price (@(Model.Purpose == "Sale" ? Model.SalePrice : Model.RentPrice)) &nbsp;&nbsp;&nbsp; >>>> &nbsp;&nbsp;&nbsp; @(Model.Purpose == "Sale" ? Model.SaleCommissionString : Model.RentCommisionString)</span>
                    <hr class="border-soft-bottom mt-3">
                    </div>


                    <div class="row mb-3 mt-2">
                        <div class="">
                            @if (Model.Status == "Available")
                            {
                                <a href="#" class="btn btn-info btn-icon-split">
                                    <span class="icon text-white-50"><i class="fas fa-flag"></i></span>
                                    <span class="text">@Model.Status</span>
                                </a>
                            }
                            else if (Model.Status == "PowerOff")
                            {
                                <a href="#" class="btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">PowerOff (ဖုန်းဆက်မရ)</span>
                                </a>
                            }
                            else if (Model.Status == "NotAvailable")
                            {
                                <a href="#" class="btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Not Available</span>
                                </a>
                            }
                            else if (Model.Status == "Rented")
                            {
                                <a href="#" class="btn btn-warning btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                    <span class="text">အငှားရှိ</span>
                                </a>
                            }
                            else if (Model.Status == "Delete")
                            {
                                <a href="#" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Cancel (Sold)</span>
                                </a>
                            }
                            else if (Model.Status == "DuplicateDelete")
                            {
                                <a href="#" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Duplicate Delete</span>
                                </a>
                            }
                            else if (Model.Status == "Cancel")
                            {
                                <a href="#" class="btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Cancel (မရောင်းတော့ပါ)</span>
                                </a>
                            }else{

                                <a href="#" class="btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">@Model.Status</span>
                                </a>
                            }
                           
                         
                            <a href="#" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span id="lblPostStatus" class="text">@Model.PostStatus</span>
                            </a>
                        </div>
                      
                        @* </div> *@


                    </div>

                    <div class="col-12 mb-3">
                        <span>@Model.Remark</span>
                    </div>

                    <div class="col-12 mb-3">
                        <span>@Model.Comment</span>
                    </div>

                    <div class="col-12">
                        <table class="table table-bordered bg-gray-100">
                            <tbody>
                                <tr>
                                    <th class="bg-gray-100" colspan="2">Property Details</th>
                                </tr>
                                <tr>
                                    <td class="bg-gray-100">Property Type: </td>
                                    <td class="bg-gray-100">@Model.PropertyType</td>
                                </tr>
                                <tr>
                                    <td class="bg-gray-100">Building Type: </td>
                                    <td class="bg-gray-100">@Model.BuildingType</td>
                                </tr>
                                <tr>
                                    <td class="bg-gray-100">Face: </td>
                                    <td class="bg-gray-100">@Model.Face</td>
                                </tr>
                                <tr>
                                    <td class="bg-gray-100">Area: </td>
                                    
                                    <td class="bg-gray-100">@((Model.Area <= 0 || Model.Area == null) ? Model.Size??"-" : Model.Area + "")</td>
                                </tr>
                                 <tr>
                                    <td class="bg-gray-100">Room Type:</td>
                                    <td class="bg-gray-100">
                                       @Model.MasterBed M, @Model.SingleBed S
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="bg-gray-100">Ownership:</td>
                                    <td class="bg-gray-100">@Model.Ownership</td>
                                </tr>
                                 <tr>
                                    <td class="bg-gray-100">Saler Own Type:</td>
                                    <td class="bg-gray-100">@Model.SalerOwnTypeString</td>
                                </tr>
                                 <tr>
                                    <td class="bg-gray-100">Registration Date: </td>
                                    <td class="bg-gray-100">@Model.RegistrationDate.ToString("MMM dd, yyyy")</td>
                                </tr>
                                <tr>
                                    <td class="bg-gray-100">Available Date:</td>
                                    <td class="bg-gray-100">@Model.AvailableDate.ToString("MMM dd, yyyy")</td>
                                </tr>
                                <tr>
                                    <td class="bg-gray-100">Last Check Date:</td>
                                    <td class="bg-gray-100">@Model.LastCheckedDate.ToString("MMM dd, yyyy") <span style="font-size:12px;">(By @(Model.LastCheckedBy != null? Model.LastCheckedBy.EmployeeName: ""))</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
</div>