@model IEnumerable<CloseFriendMyanamr.Models.PropertyTypeModel>
<link rel="stylesheet" href="~/css/configuration.css" asp-append-version="true" />

<div class="row my-3">
    <div class="col-sm-12">
        <h3 class="title mb-3 responsive-heading">Property Types</h3>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card p-0">
                    <div id="expenseList">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    @* <th>#</th> *@
                                    <th>Type Name</th>
                                    <th>Short Code</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @* <td>@item.Id</td> *@
                                        <td>@item.TypeName</td>
                                        <td>@item.ShortCode</td>
                                        <td>
                                            <i class="fa-solid fa-pen" onclick="editIncomeTitle(@item.Id)" style="cursor:pointer; color:#0279d4;" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                                            <i class="fa-solid fa-trash-can" onclick="deleteIncomeTitle(@item.Id)" style="cursor:pointer; color:red; margin-left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-container">
                    <h4 class="edittiele responsive-heading" id="edit" name="edit">@ViewData["FormTitle"]</h4>
                    <form id="incomeTitleForm" method="post" action="/IncomeTitle/Add">
                        <input type="hidden" id="Id" name="Id" />
                        <input type="text" id="TypeName" name="TypeName" placeholder="Enter property type" required class="form-control mb-3" />
                        <input type="text" id="ShortCode" name="ShortCode" placeholder="Enter short code" required class="form-control mb-3" />
                        <button type="submit" id="submitButton" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Edit function
    function editIncomeTitle(id) {
        fetch(`/IncomeTitle/DetailPropertyType/${id}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('Id').value = data.id;
                document.getElementById('TypeName').value = data.typeName;
                document.getElementById('ShortCode').value = data.shortCode;
                document.getElementById('submitButton').innerText = 'Update';
                document.getElementById('incomeTitleForm').action = '/IncomeTitle/Update';
                document.getElementById('edit').innerText = "Edit Property Type";
            });
    }

    // Delete function
    function deleteIncomeTitle(id) {
        if (confirm('Are you sure you want to delete this income title?')) {
            fetch(`/IncomeTitle/DeletePropertyType/${id}`, { method: 'POST' })
                .then(() => window.location.reload());
        }
    }

    // Handle form submission
    document.getElementById('incomeTitleForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        const action = document.getElementById('submitButton').innerText === 'Add' ? 'AddPropertyType' : 'UpdatePropertyType';

        fetch(`/IncomeTitle/${action}`, {
            method: 'POST',
            body: formData
        }).then(() => window.location.reload());
    });
</script>
